{% extends 'base.html.twig' %}

{% block title %}Symfony Blog{% endblock %}

{% block body %}
    <hr>
    {% for post in posts %}
        <h5>{{ post.postHead }}</h5>
        <p>{{ post.postedAt|date("d.m.Y h:m:s A") }}</p>
        <p>{{ post.postBody }}</p>
        <a href="{{ path('post_show', {'id': post.id}) }}">Reed more</a>
        <hr>
    {% endfor %}

<div class="example-wrapper">

</div>

{% endblock %}
